<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>DISABLE OFFICIAL</h1>
<div>
    official 1 <button type="button" style="background-color:red"; onclick="alert('Are you sure?')">Disable Account</button>
</div>
<div>
    official 2 <button type="button" style="background-color:red"; onclick="alert('Are you sure?')">Disable Account</button>
</div>
<div>
    official 3 <button type="button" style="background-color:red"; onclick="alert('Are you sure?')">Disable Account</button>
</div>
</body>
</html>