<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>REGISTER HERE</h1>
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">

        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="email"><b>Email</b></label><br>
        <input type="text" placeholder="Enter Email" name="email" required><br>

        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="psw" required><br>

        <label for="psw-repeat"><b>Repeat Password</b></label><br>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

        <label><br>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label><br>

        <p>By creating an account you agree to our <a href="#" style="color:dodgerBlue">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <button type="button" class="cancelBtn">Cancel</button>
            <button type="submit" class="signupBtn">Sign Up</button>
        </div>
    </div>
</form>
</body>
</html>