<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SUBMIT LOAN REQUEST</h1>
<form class="form" id="form"
      action="thankYou.html" autocomplete="off" onsubmit="return validation()";>

    <div class="form-control">
        <lable>Name:</lable>
        <br>
        <input type="text" name="" id="name" placeholder="Enter Full Name">
        <br><span id="name1"></span>

        <br>
        <lable>Email:</lable><br>
        <input type="text"Email="" id="email" placeholder="jayequino@gmail.com">
        <br><span id="email1"></span>

        <br>
        <lable>PAN number:</lable><br>
        <input type="text"pan="" id="pan" placeholder="Enter Pan number">
        <br><span id="pan1"></span>
        <br>

        <lable>Loan Amount:</lable><br>
        <input type="text"loan amount="" id="amount" placeholder="Enter Loan amount(only digits)">
        <br><span id="amount1"></span>
        <br>
        <br>

    </div>

    <input type="submit" value="Submit" name="submit" id="submit" onclick="validation()">




</form>
</body>
</html>